
extends layout


block content

    style.
        #Menu
    | &#x9;
    script.
        $(function () {

        $("#").draggable();
        });
    | &#x9;
    script.
        function show_hiden(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    | &#x9;

    .wrapper
        .container
            h2 DaXControl
            | &#x9;&#x9;&#x9;
            #Menu(onclick="menuWechseln()").container1

                button#piebutton.piebutton(onclick="show_hiden('pie_button')") Pie
                | &#x9;&#x9;&#x9;
                button#stackbutton.stackbutton(onclick="show_hiden('stack_button')") Stack
                | &#x9;&#x9;&#x9;
                button#multibutton.multibutton(onclick="show_hiden('multi_button')") Line
                | &#x9;&#x9;&#x9;
                button#cloudbutton.cloudbutton(onclick="show_hiden('cloud_button')") Cloud
                | &#x9;&#x9;&#x9;
                //end show-hidden button
                button#pie_button(style='background-color:#89f793').button Menu
                | &#x9;&#x9;&#x9;
                button#stack_button(style='background-color:#fca4f3').button Menu
                | &#x9;&#x9;&#x9;
                button#multi_button(style='background-color:#96befa').button Menu
                | &#x9;&#x9;&#x9;
                button#cloud_button(style='background-color:#fedfb2').button Menu
                | &#x9;&#x9;&#x9;
                //beginn pie chart wrapper
                #pie_nav-wrapper.nav-wrapper
                    ul
                        li#pie_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#pie_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#pie_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#pie_reset
                            a(onclick='piereset()')
                                span RESET
                // End nav-wrapper
                #pie_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_pie='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_pie='-0.2')
                            a#zoomout
                                span OUT
                | &#x9;&#x9;&#x9;
                #pie_filter-wrapper.second-nav-wrapper
                    p#slider-range_pie
                        label(for='amount_pie')
                        input#amount_pie(type='text', style='border:0; color:#f6931f; font-weight:bold;')

                    | &#x9;&#x9;&#x9;
                #pie_search-wrapper.second-nav-wrapper
                    ul
                        li(onclick='Search()')
                            a
                                span Search
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        input#mySearch(type='search', placeholder='Search for something..')
                    | &#x9;&#x9;&#x9;
                    // END pie chart wrapper
                 //begin stack chart wrapper
                #stack_nav-wrapper.nav-wrapper
                    ul
                        li#stack_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#stack_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#stack_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#stack_reset
                            a(onclick='stackreset()')
                                span RESET
                // End nav-wrapper
                #stack_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_stack='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_stack='-0.2')
                            a
                                span OUT
                | &#x9;&#x9;&#x9;
                #stack_filter-wrapper.second-nav-wrapper
                    p#slider-range
                        label(for='amount')
                        input#amount(type='text', style='border:0; color:#f6931f; font-weight:bold;')

                | &#x9;&#x9;&#x9;
                #stack_search-wrapper.second-nav-wrapper
                    ul
                        li(onclick='Search()')
                            a
                                span Search
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        input#mySearch_s(type='search', placeholder='Search for something..')
                    | &#x9;&#x9;&#x9;
                    //end stack chart wrapper
                 //begin multiline chart wrapper
                #multi_nav-wrapper.nav-wrapper
                    ul
                        li#multi_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#multi_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#multi_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#multi_reset
                            a
                                span RESET
                // End nav-wrapper
                #multi_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_multi='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_multi='-0.2')
                            a#zoomout
                                span OUT
                | &#x9;&#x9;&#x9;
                #multi_filter-wrapper.second-nav-wrapper
                    p#slider-range
                        label(for='amount')
                        input#amount(type='text', style='border:0; color:#f6931f; font-weight:bold;')
                | &#x9;&#x9;&#x9;
                #multi_search-wrapper.second-nav-wrapper
                    ul
                        li
                            a
                                span se
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a
                                span r
                                //end multiline chart wrapper
                 //begin tagcloud wrapper
                #cloud_nav-wrapper.nav-wrapper
                    ul
                        li#cloud_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#cloud_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#cloud_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#cloud_reset
                            a(onclick="cloudfilter(0)")
                                span RESET
                // End nav-wrapper
                #cloud_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_pie='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_pie='-0.2')
                            a#zoomout
                                span OUT
                | &#x9;&#x9;&#x9;
                #cloud_filter-wrapper.second-nav-wrapper
                    ul
                        li#cloud-filter
                            a(onclick="cloudfilter(1)")
                                span VAST
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(onclick="cloudfilter(2)")
                                span INFO
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(onclick="cloudfilter(3)")
                                span Sci
                | &#x9;&#x9;&#x9;
                #cloud_search-wrapper.second-nav-wrapper
                    ul
                        li(onclick='Search()')
                            a
                                span Search
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        input#mySearch_c(type='search', placeholder='Search for something..')
                    | &#x9;&#x9;&#x9;
                    // END wrapper


    script(type='text/javascript', src='javascripts/polyfills.js')
    | &#x9;
    script(type='text/javascript', src='javascripts/scripts.js')


    .piechart#piechart
        script(src='diagramm/typescript/pie_chart.js')

    | &#x9;&#x9;
    script(src='diagramm/typescript/stack.js')
    | &#x9;
    script(src='diagramm/typescript/tagcloud.js')
    | &#x9;
    script(src='diagramm/typescript/multiline.js')





