
extends layout


block content

    style.
        #Menu
    | &#x9;
    script.
        $(function () {

        $("#Menu").draggable();
        });
    | &#x9;

    .wrapper
        .container
            h2 DaXControl
            | &#x9;&#x9;&#x9;
            #Menu.container1
                button#button.button Menu
                | &#x9;&#x9;&#x9;
                #nav-wrapper.nav-wrapper
                    ul
                        li#zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#reset
                            a
                                span RESET
                // End nav-wrapper
                #zoom-wrapper.zoom-wrapper
                    ul
                        li(zoom_pie='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_pie='-0.2')
                            a#zoomout
                                span OUT
                | &#x9;&#x9;&#x9;
                #filter-wrapper.filter-wrapper
                    ul
                        li
                            a
                                span
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a
                                span
                | &#x9;&#x9;&#x9;
                #search-wrapper.search-wrapper
                    ul
                        li
                            span
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            span
                        // END Container
                    // END wrapper

    script(type='text/javascript', src='javascripts/polyfills.js')
    | &#x9;
    script(type='text/javascript', src='javascripts/scripts.js')


    .piechart#piechart
        script(src='diagramm/typescript/pie_chart.js')

    | &#x9;&#x9;
    script(src='diagramm/typescript/stack.js')
    | &#x9;
    script(src='diagramm/typescript/tagcloud.js')
    | &#x9;
    script(src='diagramm/typescript/multiline.js')



    .chart#stack
    | &#x9;
    .chart#tagcloud
    | &#x9;
    .chart#mult


