html
head
  meta(charset='utf-8')
  | &#x9;
  meta(name='viewport', content='width=device-width, initial-scale=1')
  | &#x9;
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  | &#x9;&#x9;
  meta(name='description', content='Circular Navigation Styles - Building a Circular Navigation with CSS Transforms | Codrops ')
  | &#x9;&#x9;
  meta(name='keywords', content='css transforms, circular navigation, round navigation, circular menu, tutorial')
  | &#x9;&#x9;
  meta(name='author', content='Sara Soueidan for Codrops')
  | &#x9;&#x9;
  link(rel='shortcut icon', href='../favicon.ico')
  | &#x9;&#x9;
  title 4Diagramm
  | &#x9;
  link(rel='stylesheet', href='http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  | &#x9;
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  | &#x9;
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  | &#x9;
  script(src='data/models/data.js')
  | &#x9;
  script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
  | &#x9;
  script(src='javascripts/d3.cloud.js')
  | &#x9;
  link(href='http://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
  | &#x9;

  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  | &#x9;
  script(type='text/javascript', src='javascripts/polyfills.js')
  | &#x9;
  script(type='text/javascript', src='javascripts/scripts.js')






body
block content
