extends layout


block content


    .wrapper

        .container
            h2 DaXControl
            | &#x9;&#x9;&#x9;
            .btn-group.btn-group-justified(role='group', aria-label='...',style='transform:translate(0px,50px);width:60%')
                .btn-group(role='group')
                .btn-group(role='group')
                .btn-group(role='group')
                    button#stackbutton.btn.btn-default(type='button',onclick="menuWechseln('stack_button')",style='color: #996633;padding:50px 100px;font-size:30px;') Stack
                //.btn-group(role='group')
                //    button#multibutton.btn.btn-default(type='button',onclick="menuWechseln('multi_button')",style='color: #006633;') Line
                .btn-group(role='group')
                    button#nullbutton.btn.btn-default(type='button',style='display:none;padding:30px 20px;') null
                .btn-group(role='group')
                    button#piebutton.btn.btn-default(type='button',onclick="menuWechseln('pie_button')",style='color: #336699;padding:50px 100px;font-size:30px;') Pie
                //.btn-group(role='group')
                //    button#cloudbutton.btn.btn-default(type='button',onclick="menuWechseln('cloud_button')",style='color: #CC3333;') Cloud
            .btn-group.btn-group-justified(role='group', aria-label='...',style='transform:translate(0px,100px);width:60%')
                .btn-group(role='group')
                .btn-group(role='group')
                //    button#stackbutton.btn.btn-default(type='button',onclick="menuWechseln('stack_button')",style='color: #996633;padding:30px 40px;') Stack
                .btn-group(role='group')
                    button#multibutton.btn.btn-default(type='button',onclick="menuWechseln('multi_button')",style='color: #006633;padding:50px 100px;font-size:30px;') Line
                .btn-group(role='group')
                    button#nullbutton1.btn.btn-default(type='button',style='display:none') null
                //.btn-group(role='group')
                //    button#piebutton.btn.btn-default(type='button',onclick="menuWechseln('pie_button')",style='color: #336699;') Pie
                .btn-group(role='group')
                    button#cloudbutton.btn.btn-default(type='button',onclick="menuWechseln('cloud_button')",style='color: #CC3333;padding:50px 100px;font-size:30px;') Cloud

            #Menu.container1(style='transform:translate(-50px,300px)')

                //
                    button#piebutton.piebutton(onclick="menuWechseln('pie_button')") Pie
                    | &#x9;&#x9;&#x9;
                    button#stackbutton.stackbutton(onclick="menuWechseln('stack_button')") Stack
                    | &#x9;&#x9;&#x9;
                    button#multibutton.multibutton(onclick="menuWechseln('multi_button')") Line
                    | &#x9;&#x9;&#x9;
                    button#cloudbutton.cloudbutton(onclick="menuWechseln('cloud_button')") Cloud
                    | &#x9;&#x9;&#x9;


                //.btn-group.btn-group-justified(role='group', aria-label='...',style='transform:translate(150px,-75px);width:50%')
                    .btn-group(role='group')
                        button#multibutton.btn.btn-default(type='button',onclick="menuWechseln('multi_button')") Line
                    .btn-group(role='group')
                        button#cloudbutton.btn.btn-default(type='button',onclick="menuWechseln('cloud_button')") Cloud


                //end show-hidden button
                button#pie_button(style='background-color:#336699;color:#FFFFFF').button Menu
                | &#x9;&#x9;&#x9;
                button#stack_button(style='background-color:#996633;color:#FFFFFF').button Menu
                | &#x9;&#x9;&#x9;
                button#multi_button(style='background-color:#006633;color:#FFFFFF').button Menu
                | &#x9;&#x9;&#x9;
                button#cloud_button(style='background-color:#CC3333;color:#FFFFFF').button Menu
                | &#x9;&#x9;&#x9;

                //beginn pie chart wrapper
                #pie_nav-wrapper.nav-wrapper
                    ul
                        li#pie_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#pie_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#pie_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#pie_reset
                            a(onclick='piereset()')
                                span RESET
                // End nav-wrapper
                #pie_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_pie='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_pie='-0.2')
                            a
                                span OUT
                | &#x9;&#x9;&#x9;
                #pie_filter-wrapper.second-nav-wrapper
                    p#slider-range_pie(style='transform:translate(-430px,180px)')
                        label(for='amount_pie')
                        input#amount_pie(type='text', style='border:0; color:#f6931f; font-weight:bold;transform:translateY(30px)')

                    | &#x9;&#x9;&#x9;
                #pie_search-wrapper.second-nav-wrapper
                    ul
                        li(onclick='Search(1)')
                            a
                                span Search
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        input#mySearch(type='search', placeholder='Search for something..',style='transform:translate(-230px,180px);width:200px;height:40px;font-size:20px')

                        // END pie chart wrapper
                //begin stack chart wrapper
                #stack_nav-wrapper.nav-wrapper
                    ul
                        li#stack_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#stack_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#stack_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#stack_reset
                            a(onclick='stackreset()')
                                span RESET
                // End nav-wrapper
                #stack_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_stack='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_stack='-0.2')
                            a
                                span OUT
                | &#x9;&#x9;&#x9;
                #stack_filter-wrapper.second-nav-wrapper
                    p#slider-range(style='transform:translate(-430px,180px)')
                        label(for='amount')
                        input#amount(type='text', style='border:0; color:#f6931f; font-weight:bold;transform:translateY(30px)')

                | &#x9;&#x9;&#x9;
                #stack_search-wrapper.second-nav-wrapper
                    ul
                        li
                            a(onclick='Search(2)')
                                span Search
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        input#mySearch_s(type='search', placeholder='Search for something..',style='transform:translate(-230px,180px);width:200px;height:40px;font-size:20px')
                | &#x9;&#x9;&#x9;
                //end stack chart wrapper
                //begin multiline chart wrapper
                #multi_nav-wrapper.nav-wrapper
                    ul
                        li#multi_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#multi_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#multi_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#multi_reset
                            a()
                                span RESET
                // End nav-wrapper
                #multi_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_multi='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_multi='-0.2')
                            a
                                span OUT
                | &#x9;&#x9;&#x9;
                #multi_filter-wrapper.second-nav-wrapper
                    p#slider-range_multi(style='transform:translate(-430px,180px)')
                        label(for='amount')
                        input#amount_multi(type='text', style='border:0; color:#f6931f; font-weight:bold;transform:translateY(30px)')
                | &#x9;&#x9;&#x9;
                #multi_search-wrapper.second-nav-wrapper
                    ul
                        li
                            a
                                span se
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a
                                span r
                                //end multiline chart wrapper
                //begin tagcloud wrapper
                #cloud_nav-wrapper.nav-wrapper
                    ul
                        li#cloud_zoom
                            a
                                span ZOOM
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#cloud_filter
                            a
                                span FILTER
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#cloud_search
                            a
                                span SEARCH
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        li#cloud_reset
                            a(onclick="cloudfilter(0)")
                                span RESET
                // End nav-wrapper
                #cloud_zoom-wrapper.second-nav-wrapper
                    ul
                        li(zoom_pie='0.2')
                            a
                                span IN
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li(zoom_pie='-0.2')
                            a
                                span OUT
                | &#x9;&#x9;&#x9;
                #cloud_filter-wrapper.second-nav-wrapper
                    ul
                        li#cloud-filter
                            a(onclick="cloudfilter(1)")
                                span VAST
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(onclick="cloudfilter(2)")
                                span INFO
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a(onclick="cloudfilter(3)")
                                span Sci
                | &#x9;&#x9;&#x9;
                #cloud_search-wrapper.second-nav-wrapper
                    ul
                        li(onclick='Search(3)')
                            a
                                span Search
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        input#mySearch_c(type='search', placeholder='Search for something..',style='transform:translate(-230px,180px);width:200px;height:40px;font-size:20px')
                    | &#x9;&#x9;&#x9;
                    // END wrapper


    script(type='text/javascript', src='javascripts/polyfills.js')
    | &#x9;
    script(type='text/javascript', src='javascripts/scripts.js')
